* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham", sans-serif;
}

.row {
  margin: 0 !important;
}

.container-fluid {
  padding-right: 0 !important;
}

.sticky-top {
  height: 50px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.sticky-top .img-social {
  padding-right: 0.5rem !important;
}
.sticky-top a {
  padding: 1rem 0;
  padding-right: 1.7rem;
}

.sticky-top a img {
  padding-bottom: 3px;
}

.sticky-top .img-contact {
  padding-right: 16px;
}

.sticky-top .phone-info {
  margin-right: 3rem;
}
.sticky-top .social-media-info img {
  padding: 0;
}

.sticky-top .social-media-info .yt-logo {
  padding-right: 0 !important;
}

.sticky-top .contact-info .contact-info-text {
  text-decoration: none;
  color: #ff6053;
  font-weight: 600;
  font-size: 16px;
}

/* navbar */

.main-navbar {
  background-color: #121148;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky !important;
  top: 50px;
  width: 99.2vw;
}

.main-navbar .navbar-logo {
  padding: 0.8rem 3.8rem;
}

.main-navbar .navbar-nav-links {
  display: flex;
}

.main-navbar .navbar-nav-links .nav-link a {
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  margin-left: 4rem;
}

.main-navbar .navbar-search img {
  height: 25px;
  margin-left: 6rem;
  margin-right: 3rem;
}

.main-navbar .navbar-language-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.main-navbar .navbar-language-selector p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

.main-navbar .navbar-language-selector .en-lang p {
  color: #f1af12;
  text-decoration: underline;
  padding-bottom: 5px;
  padding-left: 5px;
}

.main-navbar .navbar-right {
  background-color: #4d49ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  height: 84px;
  width: 13%;
}

.main-navbar .navbar-right p {
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  margin: 0;
}

/* .home  */

.home {
  min-height: 94.72vh;
  background-color: #121148;
}

.home .home-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-left img {
  padding-right: 2rem;
}

.home-right {
  border-top: 1px solid #4d49ff;
  border-left: 1px solid #4d49ff;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
}

.home .home-right .home-right-text h2 {
  color: #f1af12;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
}

.home .home-right .home-right-text h3 {
  color: #ffffff;
  font-size: 80px;
  font-weight: 700;
  text-shadow: 5px 8px 0px #4d49ff;
  padding-top: 4rem;
  letter-spacing: 5px;
}

.home .home-right .home-right-text p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 170%;
  padding-top: 4rem;
  letter-spacing: 1.3px;
}

.home .home-right .home-right-button {
  display: flex;
  justify-content: end;
  padding-right: 3rem;
}

.home .home-right .home-right-button .button-git {
  background-color: #ff6053;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  box-shadow: 7px 7px #4d49ff;
}

.home .home-right .home-right-button .button-git a {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 3px;
  padding-left: 1rem;
}

.home .home-right .home-right-button .button-git a img {
  height: 24px;
  padding-left: 2rem;
  padding-right: 1rem;
}

.home .home-companies {
  display: flex;
  flex-direction: row;
}

.home .home-companies .company-box-text {
  background-color: #f1af12;
  width: 30%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .home-companies .company-box-text p {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 2rem 0;
}

.home .home-companies .company-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.home-left {
  height: 75vh !important;
}

.home-right {
  height: 75vh !important;
}

.company-bg {
  background-color: #4d49ff;
  padding: 0 !important;
}

.home-right .col-3 {
  padding: 0 !important;
  margin: 0 !important;
}
